
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: Snowdonia Slateman Triathlon</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">Snowdonia Slateman Triathlon</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        Snowdonia Slateman Triathlon
      
    </h1>
    <time datetime="2013-05-20T00:00:00.000Z">May 20th 2013</time>
    <div class="m_postarticles__body u_type">
      
        <p>Yesterday I swam in a freezing-cold lake; rode my bike up a mountain pass; then ran around an old slate mine.</p>
<p>When <a href="http://twitter.com/imrazkhan">Raz</a> and <a href="http://twitter.com/cleggmatt">Matt</a> suggested it last year it seemed like such a good idea; they&#39;d just seen the 2012 Slateman on TV and were raring to go. After some gental persuasion I reluctantly agreed to the shorter sprint distance of 400m swim, 20km cycle and a 6km run.</p>
<p>In the end neither Raz or Matt could make the race due to reasons undisclosed. Luckily my friend Christian was entered for the full distance, so we packed up the van, banged on the tunes and made the 6 hour trek up to Wales.</p>
<p>{% include figure.html class=&quot;pull-both&quot; set=&quot;slateman_3&quot; %}</p>
<p>Race day dawned and we made our weary way from our campsite to the lake ready for the briefing. The sun was just starting to clear away the early-morning clouds as we wheeled our bikes into Transition. I laid out my kit the best I could then, remebering a tip I&#39;d read on a website, walked around mentally tracing my steps from the swim exit to the bike.</p>
<p>I really wasn&#39;t sure what to expect, especially when it came to the swim and the water temperature. I&#39;d done a few sea-swims, but the lake was around 12℃, a little colder than I was used to. I needn&#39;t have worried though, despited a little bit of cold-shock I managed to complete the swim in 12m26s, surprisingly in the middle of the field. </p>
<p>Transition was a weird experience, I <em>did</em> manage to remove my wetsuit without too much falling over myself but then forgot my race belt and had to embarrassingly run back from the mount line to collect it. </p>
<p>It was such a relief to get the swim and T1 out of the way that I <em>may</em> have gone out a little too fast on the bike. Still I managed to maintain a decent pace and completed the cycle in 57m30s.</p>
<p>T2 was an altogether more relaxed affair and I was feeling pretty good knowing the end was in sight. I exited transition onto the run corse feeling pretty please with myself.</p>
<p>{% include figure.html class=&quot;pull-both&quot; set=&quot;slateman_1&quot; %}</p>
<p>That was until I hit the first climb. I was pleased to see I wasn&#39;t the only one walking and as we went higher the views more than made up for the burning calves. With some really fun, fast downhill sections the run finally led me back past transition to the finish line. I felt elated that I&#39;d manage to finish my first triathlon in 1h54m47s.</p>
<p>{% include figure.html class=&quot;pull-both&quot; set=&quot;slateman_2&quot; %}</p>
<p>There was a unique atmosphere I&#39;ve not felt in any run or cycle event I&#39;ve taken part in. I&#39;m not sure if all Tri events are like this, or whether it was just the Slateman. Kudos to the organisers, it was a fantastic day. I always felt I knew where I should be, what I should be doing and (most importantly) that my kit was safe. </p>
<p>If you&#39;d like to give it a go <a href="http://snowdoniaslateman.com/">entries for 2014 open on 22nd July</a>. </p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
