//global base size
@base:                      16;

//vertical spacing
@spacing_vertical:          32;
@spacing_horizontal:        36;

//layouts

@layout_base:               568;
@layout_alpha:              710;
@layout_beta:               852;
@layout_max:                1260;

@layout_pull:               1/4;
@vw_base:                   @layout_max/100;

//colours
@blue:                      #008EEF;
@red:                       #ff0033;
@yellow:                    #ECB538;
@green:                     #00BDA5;
@turquoise:                 #60C5D6;

@c_articles:                @blue;
@c_article:                 @blue;
@c_gallery:                 @red;
@c_notes:                   @yellow;
@c_portfolio:               @green;
@c_link:                    @turquoise;

@c_default:                 @darkgrey;

@grey:                      #cccccc;
@lightgrey:                 #f1f1f1;
@medgrey:                   #5E5E5E;
@darkgrey:                  #333333;

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-bold.woff2') format('woff2'),
         url('fonts/merriweather-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-boldit.woff2') format('woff2'),
         url('fonts/merriweather-boldit.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-italic.woff2') format('woff2'),
         url('fonts/merriweather-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-regular.woff2') format('woff2'),
         url('fonts/merriweather-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
 * Webfont: RidleyGrotesk-Regular by Radomir Tinkov
 * URL: http://www.myfonts.com/fonts/radomir-tinkov/ridley-grotesk/regular/
 */

@font-face {
  font-family: 'Ridley Grotesk';
  src: url('fonts/30DB26_C_0.woff2') format('woff2'),
       url('fonts/30DB26_C_0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ridley Grotesk';
  src: url('fonts/30DB26_5_0.woff2') format('woff2'),
       url('fonts/30DB26_5_0.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

#font() {
  .merriweather() {
    font-family: "merriweather", serif;
  }
  .ridley() {
    font-family: 'Ridley Grotesk', sans-serif;
  }
}

body {
  #font > .merriweather();
  background-color: #FBFBFB;
  font-size: 69%;
  color: @darkgrey;
  #site .r--beta({font-size: 81%;});
  #site .r--max({font-size: 100%;})
}
h1,h2,h3,h4 {
  #font > .ridley();
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

i b,
b i,
em b,
b em,
strong i,
i strong,
strong em,
em strong {
  font-style: italic;
  font-weight: bold;
}

p, li, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

#site() {
  .spacing() {
    margin-top: unit(@spacing_horizontal/@base,rem);
  }
  .r--alpha(@r) {
    @media screen and (min-width: (unit(@layout_alpha/@base,rem))) {
      @r();
    }
  }
  .r--beta(@r) {
    @media screen and (min-width: (unit(@layout_beta/@base,rem))) {
      @r();
    }
  }
  .r--max(@r) {
    @media screen and (min-width: (unit(@layout_max/@base,rem))) {
      @r();
    }
  }
}

#effect() {
  .text-shadow-3d(@distance,@c) {
    #effect > .text-shadow-3d----loop(@distance,@c);
  }
  .text-shadow-3d----loop(@i,@c) when (@i >= 0) {
    text-shadow+: unit(@i,px) unit(@i,px) @c;
    #effect > .text-shadow-3d----loop(@i - 1,@c);
  }

}

.grid {

  &__column {
    flex: 1;
    margin-bottom: unit(@spacing_vertical/@base,rem);

    &:nth-of-type(2n) {
      #site > .r--beta({
        margin-left: unit(@spacing_horizontal/@base,rem);
      });
    }
  }

  #site > .r--beta({
    display: flex;
  });

  //modifers
  &--2-1 &__column:nth-of-type(2n-1) {
    flex: 2;
  }
  &--1-2 &__column:nth-of-type(2n) {
    flex: 2;
  }

  &--prose {
    justify-content: center;
  }
  &--prose &__column {
    #site > .r--beta({
      width: 62%;
      flex: initial;
    });
  }

  &--bricks {
    justify-content: space-between;
    .grid__column {
      margin-bottom: 5%;
    }

    #site .r--beta({
      flex-wrap: wrap;
      .grid__column {
        flex: 0 1 47.5%;
        margin-left: 0;
      }
    });

    #site .r--max({
      .grid__column {
        flex: 0 1 30%;

        &:nth-of-type(10n-9),
        &:nth-of-type(10n-3) {
          flex: 0 1 65%;
        }
        &:nth-of-type(10n-4),
        &:nth-of-type(10n-2) {
          margin-left: 0;
        }
      }
    });

  }

}

.icon {
  &--logo {
    width: unit(57/@base,rem);
    height: unit(84/@base,rem);
    fill: @lightgrey;
  }
}

.c_siteHeader {
  background-color: @darkgrey;
  padding: unit(@spacing_vertical/2/@base,rem) 0;
  overflow: hidden;

    &--homepage {
      background-color: @c_default;
    }
    &--articles {
      background-color: @c_article;
    }
    &--gallery {
      background-color: @c_gallery;
    }
    &--notes {
      background-color: @c_notes;
    }
    &--archives {
      background-color: @c_default;
    }
    &--portfolio {
      background-color: @c_portfolio;
    }
    &--pattern-library {
      background-color: @c_default;
    }
}

.c_wrapper {
  margin: 0 unit(@spacing_horizontal/@base,rem);
  max-width: unit(@layout_max/@base,rem);
  #site .r--max({
    margin: 0 auto;
  });
}

.c_siteBody {
    #site > .spacing();
}

#m_cacheItem {
  .background(@c) {
    background-color: @c;
    color: contrast(@c);
  }
}

.m_cacheItem {
  &--articles {
    #m_cacheItem > .background(@c_articles);
  }
  &--gallery {
    #m_cacheItem > .background(@c_gallery);
  }
  &--notes {
    #m_cacheItem > .background(@c_notes);
  }
}

.m_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__figure {
    margin-bottom: 5%;
    flex-basis: 30%;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

}

.m_introduction {
  p {
    #u_type > .p--introduction();
    #u_space > .push();
  }
  a {
    #u_type > .a--underline();
  }
}

.m_libraryBlock {
  background-color: fade(red,20%);
  color: red;
  text-align: center;
  padding: 20px;
}

.m_logo {
  display: block;
  svg {
    width: unit(23/@base,rem);
    height: unit(23/@base,rem);
    #site > .r--beta({
      width: unit(50/@base,rem);
      height: unit(50/@base,rem);
    });
  }

}

.m_navigation {

  &__items {
    padding: 0;
    margin: 0;

    #site > .r--alpha({
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    });
    #site > .r--max({
      justify-content: space-between;
    });
  }
  &__item {
    list-style: none;
    display: inline-block;
  }
  &__item--homepage {
    display: block;
  }
  &__link {
    #font > .ridley();
    font-size: unit(18/@base,rem);
    line-height: 22/18;
    text-decoration: none;
    color: white;
    display: block;
    padding: unit(@spacing_vertical/4/@base,rem) unit(@spacing_horizontal/4/@base,rem);

    #site > .r--max({
      font-size: unit(28/@base,rem);
      line-height: 36/28;
    });

    svg {
      width: unit(33/@base,rem);
      height: unit(33/@base,rem);
      #site > .r--max({
        width: unit(50/@base,rem);
        height: unit(50/@base,rem);
      });
    }
  }
  &__link--homepage {
    #site > .r--alpha({
      padding: 0;
    });
  }

  //active states.
  &__link--is-active&__link--homepage {
    #effect > .text-shadow-3d(5,darken(@c_default,10%));
  }
  &__link--is-active&__link--articles {
    #effect > .text-shadow-3d(5,darken(@c_article,10%));
  }
  &__link--is-active&__link--gallery {
    #effect > .text-shadow-3d(5,darken(@c_gallery,10%));
  }
  &__link--is-active&__link--notes {
    #effect > .text-shadow-3d(5,darken(@c_notes,10%));
  }
  &__link--is-active&__link--archives {
    #effect > .text-shadow-3d(5,darken(@c_default,10%));
  }
  &__link--is-active&__link--portfolio {
    #effect > .text-shadow-3d(5,darken(@c_portfolio,10%));
  }
  &__link--is-active&__link--pattern-library {
    #effect > .text-shadow-3d(5,darken(@c_default,10%));
  }

  //sub navigation
  &--sub {
    border-bottom: 1px solid @lightgrey;
  }
  &--sub &__link {
    color: @c_default;
  }

}

.m_pageTitle {
  #u_type > .h1();
}

.m_posts {
  //todo
}

.m_post {
  
}

.m_teaserList {

  >* {
    margin-bottom: unit(@spacing_vertical/@base,rem);
  }

  #site .r--beta({
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
      flex-basis: 47.5%;
      margin-bottom: 5%;
    }
  });

  #site .r--max({
    >* {
      flex-basis: 30%;

      &:nth-of-type(10n-9),
      &:nth-of-type(10n-3) {
        flex-basis: 65%;
      }

    }
  });
}

.m_teaser {

  background-color: white;
  box-sizing: border-box;
  border: 1px solid @grey;
  position: relative;
  background-image: linear-gradient(lighten(@lightgrey,2%) unit(@spacing_vertical*1.5/@base,rem), white unit(@spacing_vertical*1.5/@base,rem));
  max-height: unit(800/@base,rem);
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    height: unit(@spacing_vertical*2/@base,rem);
    background-image: linear-gradient(transparent 0, white 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }


  &__description {
    padding: unit(@spacing_vertical/@base,rem) unit(@spacing_horizontal/@base,rem);
    &--has-image {
      padding-top: 0;
      margin-top: unit(-1 * ((@spacing_vertical/2) /@base),rem);
    }

  }

  &__type {
    text-shadow: 0 1px 0 fade(black,10%);
    color: white;
    //font-size: 1rem;
    padding: unit(@spacing_vertical/4/@base,rem) unit(@spacing_horizontal/2/@base,rem);
    border-radius: 2rem;
    background-color: @c_article;
    margin-bottom: unit(@spacing_vertical/2/@base,rem);
    #font > .ridley();
    display: inline-block;
  }

  &__image {
    display: block;
    max-width: 100%;
  }


  //article specific
  &[class*=articles] &__type {
    background-color: @c_article;
  }
  //note specific
  &[class*=note] &__type {
    background-color: @c_notes;
  }

  //gallery specific
  &[class*=gallery] &__type {
    background-color: @c_gallery;
  }

}

#u_space() {
  .push(@v: 1) {
    margin-bottom: unit((@spacing_vertical*@v)/@base,rem);
  }
  .pull(@v: @layout_pull) {
    #site > .r--max({
      margin-left: unit(-1 * (@v * 100),%);
    });
  }
}
.u_space----loop(@i) when (@i >= 0) {
  .u_space {
    &__push-@{i} {
      #u_space > .push(@i);
    }
  }
  .u_space----loop(@i - 1);
}
.u_space----loop(5);

//default push
.u_space__push {
  #u_space > .push();
}

.u_space__pull {
  #u_space > .pull();
}

#u_type() {

  .h1() {
    font-size: unit(80/@base,em);
    line-height: 84/80;
    #u_space > .push(1);
  }
  .h2() {
    font-size: unit(35/@base,em);
    line-height: 39/35;
    #u_space > .push(1);
  }
  .p() {
    font-size: unit(21/@base,em);
    line-height: @spacing_vertical/21;
    #u_space > .push(1);
  }
  .p--summary() {
    font-size: unit(23/@base,em);
    line-height: 42/23;
    #u_space > .push(1);
  }
  .p--leade() {

  }
  .p--introduction() {
    #font > .ridley();
    font-weight: bold;
    #u_space > .push(1);
    font-size: unit(35/@base,rem);
    line-height: 43/35;
    #site > .r--alpha({
      font-size: unit(69/@vw_base,vw);
    });
    #site > .r--max({
      font-size: unit(69/@base,rem);
      line-height: 81/69;
    });
  }

  .a(@c:@c_link) {
    color: @c;
    text-decoration: none;
  }
  .a--underline(@c:@c_link) {
    #u_type > .a(@c);
    border-bottom: 1px solid @lightgrey;
    transition: background-color 250ms ease-out;

    .hover(@c) {
      &:hover {
        border: none;
        background-color: fade(@c,15%);
      }
    }
    .hover(@c);

    &[href='/articles'] {
      #u_type > .a(@c_article);
      .hover(@c_article);
    }
    &[href='/gallery'] {
      #u_type > .a(@c_gallery);
      .hover(@c_gallery);
    }
    &[href='/notes'] {
      #u_type > .a(@c_notes);
      .hover(@c_notes);
    }
    &[href='/portfolio'] {
      #u_type > .a(@c_portfolio);
      .hover(@c_portfolio);
    }
  }

  .meta() {
    color: @medgrey;
    display: block;
  }

  //general utilities
  .bold() {
    font-weight: bold;
  }
  .italic() {
    font-style: italic;
  }
  .uppercase() {
    text-transform: uppercase;
  }

  .time() {
    #u_type > .meta();
  }

}

.u_type {
  //headings
  h1 {
    #u_type > .h1();
  }
  h2 {
    #u_type > .h2();
  }

  //paragraphs
  p {
    #u_type > .p();
  }
  .summary {
    #u_type > .p--summary();
  }
  .meta {
    #u_type > .meta();
  }
  .introduction {
    #u_type > .p--introduction();
  }

  time {
    #u_type > .p();
    #u_type > .time();
  }

  //links
  .links(@c:@c_link) {
    a {
      #u_type > .a(@c);
    }
    p>a,li>a {
      #u_type > .a--underline(@c);
    }
  }


  &--articles {
    .links(@c_article);
  }

}
