//global base size
@base:                      16;

//vertical spacing
@spacing_vertical:          32;
@spacing_horizontal:        36;

//layouts

@layout_base:               568;
@layout_alpha:              720;
@layout_beta:               852;
@layout_max:                1260;

@layout_pull:               1/4;
@vw_base:                   @layout_max/100;

//colours
@blue:                      #0D44E1;//base on the 2010 Dr WHO? Tardis
@red:                       #ff0033;
@yellow:                    yellow;
@green:                     #00BDA5;
@turquoise:                 #60C5D6;

@c_articles:                @blue;
@c_article:                 @blue;
@c_gallery:                 @red;
@c_notes:                   @yellow;
@c_portfolio:               @green;
@c_link:                    @blue;

@c_default:                 @darkgrey;
@c_bg:                      #FBFBFB;

@grey:                      #cccccc;
@lightgrey:                 #E4E4E4;
@medgrey:                   #5E5E5E;
@darkgrey:                  #333333;

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-bold.woff2') format('woff2'),
         url('fonts/merriweather-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-boldit.woff2') format('woff2'),
         url('fonts/merriweather-boldit.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-italic.woff2') format('woff2'),
         url('fonts/merriweather-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-regular.woff2') format('woff2'),
         url('fonts/merriweather-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
 * Webfont: RidleyGrotesk-Regular by Radomir Tinkov
 * URL: http://www.myfonts.com/fonts/radomir-tinkov/ridley-grotesk/regular/
 */

@font-face {
  font-family: 'Ridley Grotesk';
  src: url('fonts/30DB26_C_0.woff2') format('woff2'),
       url('fonts/30DB26_C_0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ridley Grotesk';
  src: url('fonts/30DB26_5_0.woff2') format('woff2'),
       url('fonts/30DB26_5_0.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

#font() {
  .merriweather() {
    font-family: "merriweather", serif;
  }
  .ridley() {
    font-family: 'Ridley Grotesk', sans-serif;
  }
  .dropcap() {
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
  }
}

body {
  #font > .merriweather();
  background-color: @c_bg;
  font-size: 76%;
  color: @darkgrey;
  #site .r--alpha({font-size: 88%;});
  #site .r--max({font-size: 100%;})
}
h1,h2,h3,h4 {
  #font > .ridley();
  font-style: normal;
  font-weight: bold;
}

a {
  color: @blue;
  text-decoration: none;
}

//pattern examples
.pattern {
  margin-bottom: unit(@spacing_vertical/@base,rem);
  &:after {
    font-size: unit(40/@base,rem);
    color: @grey;
    content: "\0000B7\0000a0\0000B7\0000a0\0000B7";
    text-align: center;
    display: block;
    padding-top: unit(@spacing_vertical/@base,rem);
  }
  &__data {
    font-size: 80%;
    border: 1px dotted @grey;
    background-color: white;
  }
  &__description {
    padding: unit(@spacing_vertical/@base,rem) unit(@spacing_horizontal/@base,rem);
  }
  &__title {
    padding: unit(@spacing_vertical/2/@base,rem) unit(@spacing_horizontal/@base,rem);
    font-size: unit(34/@base,em);
    line-height: 39/34;
    border-bottom: 1px dotted @grey;
  }
  &__item {
    padding: unit(@spacing_vertical/@base,rem) unit(@spacing_horizontal/@base,rem);
    border: 1px dotted @grey;
    border-top: none;
  }
}

/* js folddowns */
.js_folddown--show-code-message {
  text-align: right;
  color: @grey;
  float: right;
}
.js_foldown--is-active {
  cursor: pointer;
}
.js_foldown--is-active {
  &:hover, &:active, &:focus {
    .js_folddown--show-code-message {
      color: @c_default;
    }
  }
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

i b,
b i,
em b,
b em,
strong i,
i strong,
strong em,
em strong {
  font-style: italic;
  font-weight: bold;
}

p, li, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

#site() {
  .spacing() {
    margin: unit(@spacing_horizontal/@base,rem) 0;
  }
  .r--alpha(@r) {
    @media screen and (min-width: (unit(@layout_alpha/@base,rem))) {
      @r();
    }
  }
  .r--beta(@r) {
    @media screen and (min-width: (unit(@layout_beta/@base,rem))) {
      @r();
    }
  }
  .r--max(@r) {
    @media screen and (min-width: (unit(@layout_max/@base,rem))) {
      @r();
    }
  }
}

#effect() {
  .text-shadow-3d(@distance,@c) {
    #effect > .text-shadow-3d----loop(@distance,@c);
  }
  .text-shadow-3d----loop(@i,@c) when (@i >= 0) {
    text-shadow+: unit(@i,px) unit(@i,px) @c;
    #effect > .text-shadow-3d----loop(@i - 1,@c);
  }

}

#grid() {
  .prose() {
    justify-content: center;
  }
  .prose__column() {
    #site > .r--beta({
      width: unit(@layout_alpha/@base,rem);
      flex: initial;
    });
  }
}

.grid {

  &__column {
    flex: 1;
    margin-bottom: unit(@spacing_vertical/@base,rem);

    &:nth-of-type(2n) {
      #site > .r--beta({
        margin-left: unit(@spacing_horizontal/@base,rem);
      });
    }
  }

  #site > .r--beta({
    display: flex;
  });

  //modifers
  &--2-1 > &__column:nth-of-type(2n-1) {
    flex: 2;
  }
  &--1-2 > &__column:nth-of-type(2n) {
    flex: 2;
  }
  &--1-3 > &__column:nth-of-type(2n) {
    flex: 3;
  }

  &--prose {
    #grid > .prose();
  }
  &--prose &__column {
    #grid > .prose__column();
  }

  &--bricks {
    justify-content: space-between;
    .grid__column {
      margin-bottom: 5%;
    }

    #site .r--beta({
      flex-wrap: wrap;
      .grid__column {
        flex: 0 1 47.5%;
        margin-left: 0;
      }
    });

    #site .r--max({
      .grid__column {
        flex: 0 1 30%;

        &:nth-of-type(10n-9),
        &:nth-of-type(10n-3) {
          flex: 0 1 65%;
        }
        &:nth-of-type(10n-4),
        &:nth-of-type(10n-2) {
          margin-left: 0;
        }
      }
    });

  }

}

.icon {
  &--logo {
    width: unit(57/@base,rem);
    height: unit(84/@base,rem);
    fill: @lightgrey;
  }
}

#type() {

  .default() {
    font-size: unit(21/@base,em);
    line-height: 41/21;
    margin: 0;
    padding: 0;
  }
  .small() {
    font-size: unit(18/@base,em);
    line-height: @spacing_vertical/18;
  }
  .x-small() {
    font-size: unit(14/@base,em);
    line-height: @spacing_vertical/14;
  }

  .h1() {
    font-size: unit(56/@base,em);
    line-height: 60/56;
    #u_space > .push(1);
    #site .r--alpha({
      font-size: unit(80/@base,em);
      line-height: 84/80;
    });
  }
  .h2() {
    font-size: unit(34/@base,em);
    line-height: 39/34;
    #u_space > .push(1,2);
    #site .r--alpha({
      font-size: unit(47/@base,em);
      line-height: 59/47;
    });
  }
  .h3() {
    font-size: unit(24/@base,em);
    line-height: 33/24;
    #u_space > .push(0.5,2);
  }
  .p() {
    #u_space > .push(1);
  }

  .p--introduction() {
    font-size: unit(25/@base,em);
    line-height: 41/25;
  }
  .p--introduction-dropcap() {
    font-size: unit(40/25,em);
    float: left;
    padding: unit((8)/40,em) unit((20)/40,em);
    background-color: @darkgrey;
    color: contrast(@darkgrey);
    border-radius: unit(5/@base,rem);
    margin-right: 0.2em;
    #effect > .text-shadow-3d(6,black);
    overflow: hidden;
    text-overflow: clip;
    #font > .dropcap();
  }

  .a(@c:@c_link) {
    color: @c;
    text-decoration: none;
  }
  .a--underline(@c:@c_link) {
    #type > .a(@c);
    border-bottom: 1px solid @lightgrey;
    transition: border 250ms ease-out;

    .hover(@c) {
      &:hover {
        border-color: @grey;
      }
    }
    .hover(@c);
  }

  .meta() {
    color: @medgrey;
    display: block;
  }

  //general utilities
  .bold() {
    font-weight: bold;
  }
  .italic() {
    font-style: italic;
  }
  .uppercase() {
    text-transform: uppercase;
  }

  //lists

  .time() {
    #type > .meta();
    #site > .r--max({
        #type > .small();
    })
  }

  .code--base() {
    font-family: 'Menlo', monospace;
    color: lighten(@darkgrey,10%);
    margin: 0 .1em;
    border: 1px solid darken(@lightgrey,10%);
    background-color: @lightgrey;
    padding: 4rem/@base;
    border-radius: 4rem/@base;
  }

  .code--inline() {
    font-size: 80%;
  }

  .code--box() {
    padding: unit(@spacing_vertical/@base,rem) unit(@spacing_horizontal/@base,rem);
  }

  .abbr() {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    cursor: help;
    &:hover {
        background-color: @lightgrey;
    }
  }

  .hr() {
    border: none;
    clear: both;
    &:before {
      font-size: unit(40/@base,rem);
      color: @grey;
      content: "\0000B7\0000a0\0000B7\0000a0\0000B7";
      text-align: center;
      display: block;
      #u_space > .push();
    }
  }

  .pre() {
    white-space: pre-wrap;
  }

}

.type {
  //headings
  h1 {
    #type > .h1();
  }
  h2 {
    #type > .h2();
  }
  h3 {
    #type > .h3();
  }

  //paragraphs
  p {
    #type > .default();
    #type > .p();
  }

  .meta {
    #type > .meta();
  }
  .introduction {
    #type > .p--introduction();
  }

  //lists
  >ul, >ol {
    #type > .default();
    #u_space > .push();
    list-style-position: inside;
    #site > .r--max({
      list-style-position: outside;
    });
  }
  ul ul, ul ol, ol ol, ol ul {
    margin: 0 0 0 2em;
    padding: 0;
  }
  ul  {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
      }
    }
  }
  ol {
    list-style: decimal;
    ol {
      list-style: lower-roman;
      ol {
        list-style: lower-latin;
      }
    }
  }

  a {
    #type > .a--underline();
  }

  time {
    #type > .p();
    #type > .time();
  }

  //code blocks
  p>code, li>code {
    #type > .code--base();
    #type > .code--inline();
  }
  pre {
    #type > .code--base();
    #type > .code--box();
    #u_space > .push();
  }


  abbr {
    #type > .abbr();
  }

  hr {
    #type > .hr();
  }


  ///MOVE THIS CODE TO MIXINS

  //blockquotes
  blockquote {
      padding-left: 2em;
      border-left: 3px solid @grey;
      margin: 0;
      p, ul, ol, dl, table {
         color: darken(@grey,40%);
      }
  }

  //tables
  table {
      border-collapse: collapse;
      font-size: 80%;
      width: 100%;
      #type > .default();
  }

  td, th {
      text-align: left;
      border-bottom: 1px solid @grey;
      padding: .5em .7em;
      vertical-align: top;
  }

  th {
      font-weight: bold;
      border-bottom: 2px solid darken(@grey,10%);
  }


}

.c_siteBody {
    #site > .spacing();
}

.c_siteHeader {
  padding: unit(@spacing_vertical/2/@base,rem) 0;
  border-bottom: 1px solid @lightgrey;
}

.c_wrapper {
  margin: 0 unit(@spacing_horizontal/@base,rem);
  max-width: unit(@layout_max/@base,rem);
  #site .r--max({
    margin: 0 auto;
  });
}

.m_figure {
  margin-bottom: unit(@spacing_vertical/@base,rem);
  #u_space > .pull();

  &__image {
    display: block;
    max-width: 100%;
    margin-bottom: unit(@spacing_vertical/2/@base,rem);
    #site > .r--alpha({
      margin-bottom: 0;
    });
  }

  &__caption {
    display: block;
    flex-basis: 100%;
    box-sizing: border-box;
    font-style: italic;
    #type > .default();
    #type > .x-small();
    #type > .meta();
    #u_space > .pull-back();
    #site > .r--alpha({
      margin-top: unit(@spacing_vertical/2/@base,rem);
    });
  }

  //gallery mode
  #site > .r--alpha({
    &--gallery {
      display: flex;
      flex-wrap: wrap;
      .m_figure__image {
        height: 100%;
        width: 100%;
        display: block;
        outline: 1px solid @c_bg;
      }
    }
  });

}

#m_cacheItem {
  .background(@c) {
    background-color: @c;
    color: contrast(@c);
  }
}

.m_cacheItem {
  &--articles {
    #m_cacheItem > .background(@c_articles);
  }
  &--gallery {
    #m_cacheItem > .background(@c_gallery);
  }
  &--notes {
    #m_cacheItem > .background(@c_notes);
  }
}

.m_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: unit(@spacing_vertical/@base,rem);

  &__link {
    height: 100%;
    display: block;
    border: none;
  }

  &__image {
    display: block;
    width: 100%;
    outline: 1px solid @c_bg;
    transition: all 50ms;
  }

  &__image--is-highlighted {
    outline: 5px solid @c_default;
    z-index: 1000;
    position: relative;
  }

  &__link:only-of-type &__image {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  &__captions {
    display: block;
    flex-basis: 100%;
    box-sizing: border-box;
    font-style: italic;
    #type > .default();
    #type > .x-small();
    #type > .meta();
    #site > .r--alpha({
      margin-top: unit(@spacing_vertical/2/@base,rem);
    });
  }

  .js_caption--is-enabled {
    cursor:help;
    &:hover {
      color: @c_default;
    }
  }

}

.m_introduction {
  //#u_space > .pull();
  #u_space > .push();
  border-bottom: 1px solid @lightgrey;
  p {
    #type > .p--introduction();
    #u_space > .push();
  }
  a {
    #type > .a--underline();
  }
}

.m_navigation {

  font-size: unit(23/@base,em);

  &__items {
    padding: 0;
    margin: 0;

    #site > .r--alpha({
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    });
    @media screen and (min-width: 800px){
        justify-content: space-between;
    };
  }
  &__item {
    list-style: none;
    display: inline-block;
  }
  &__item--homepage {
    display: block;
  }
  &__link {
    //#font > .ridley();
    display: block;
    padding: unit(@spacing_vertical/4/@base,rem) unit(@spacing_horizontal/2/@base,rem);
    padding-left: 0;

    &--is-active {
      font-weight: bold;
    }

    .m_navigation__logo {
      width: unit(33/@base,rem);
      height: unit(33/@base,rem);
      #site > .r--max({
        width: unit(50/@base,rem);
        height: unit(50/@base,rem);
      });
    }
  }
  &__link--homepage {
    #site > .r--alpha({
      padding: 0;
    });
  }


  //sub navigation
  &[class*=sub] {
    border-bottom: 1px solid @lightgrey;
    margin-bottom: unit(@spacing_vertical/@base,rem);
    #site .r--max({
      border: none;
      margin-bottom: 0;
    });
  }
  &[class*=sub] &__link {
    color: @c_default;
  }

  //stacked sub navigation
  &--sub-stacked &__items,
  &--sub-stacked &__item,
  &--sub-stacked &__link {
    #site > .r--max({
      display: block;
    });
  }

}

.m_pageTitle {
  #type > .h1();
  &__date {
    #type > .time();
    #u_space > .push();
    #site > .r--alpha({
      text-align: center;
    });
  }

  #site > .r--alpha({
    text-align: center;
    &--aligned {
      text-align: left;
    }
  });



}

.m_pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    list-style: none;
    margin: 0 unit(@spacing_horizontal/4/@base,rem);
  }
  &__link {
    display: block;
    padding: unit(@spacing_vertical/4/@base,rem) unit(@spacing_horizontal/4/@base,rem);
    font-size: 80%;
    border: 1px solid @grey;
    border-radius: 2px;
  }
  &__link--current {
    border-color: @c_link;
    background-color: @c_link;
    color: contrast(@c_link);
  }
}

.m_posts {
  //todo
}

.m_post {
  &--article {
    .m_gallery {
      #u_space > .pull();
      &__captions {
        #u_space > .pull-back();
      }
    }
  }
}

.m_prevNext {
  #site > .r--alpha({
    display: flex;
    justify-content: space-between;
  });

  border-top: 1px solid @lightgrey;
  border-bottom: 1px solid @lightgrey;
  padding: unit(@spacing_vertical/2/@base,rem) 0;

  &__link,
  &__label,
  &__date {
    display: block;
    #type > .default();
  }

  &__label {
    #type > .small();
    #site > .r--max({
      #type > .x-small();
    });
  }

  &__link {
    #type > .a();
    #type > .small();
  }

  &__date {
    #type > .time();
    #type > .small();
  }

  &__item--next {
    margin-top: unit(@spacing_vertical/@base,rem);
    text-align: right;
    #site > .r--alpha({
      margin-top: 0;
      margin-left: unit(@spacing_horizontal/@base,rem);
    });
  }
  &__item:only-of-type&__item--next {
    margin-left: auto;
  }
}

.m_teaser {

  margin-bottom: unit(@spacing_vertical*3/@base,rem);

  &__title {
    #type > .h2();
    margin: 0;
  }

  &__meta {
    #type > .time();
    margin-bottom: unit(@spacing_vertical/@base,rem);
  }

  &__imageLink {
    #u_space > .pull();
    display: block;
  }

  &__image {
    max-width: 100%;
    display: block;
    margin: 0 auto unit(@spacing_vertical/@base,rem) auto;
  }

}

#u_space() {
  .push(@bottom: 1, @top: 0) {
    margin-bottom: unit((@spacing_vertical*@bottom)/@base,rem);
    margin-top: unit((@spacing_vertical*@top)/@base,rem);
  }

  .pull(@i: 9) {
    #site > .r--max({
      margin-left: unit(-1 * @i,%);
    });
  }
  //indents items inside a .pull class back inline with the parent wrapper:
  .pull-back(@i: 9) {
    #site > .r--max({
      margin-left: unit((@i/(100 + @i)) * 100,%);
    });
  }

  //calculates the push back for putting elements back in-line with the parent wrapper
  .hangoff(@b: @layout_alpha) {
    #site > .r--max({
      @remaining: (@layout_max - @b) / 2;
      margin-left: unit(-1 * ((@remaining/@b) * 100),%);
      float: left;
    });
  }
}
.u_space----loop(@i) when (@i >= 0) {
  .u_space {
    &__push-@{i} {
      #u_space > .push(@i);
    }
  }
  .u_space----loop(@i - 1);
}
.u_space----loop(5);

//default push
.u_space__push {
  #u_space > .push();
}

.u_space__pull {
  #u_space > .pull();
}

.u_space__hangoff {
  #u_space > .hangoff();
}
