.c_siteHeader {
  background-color: @darkgrey;
  padding: unit(@spacing_vertical/2/@base,rem) 0;
  overflow: hidden;

    &--homepage {
      background-color: @c_default;
    }
    &--articles {
      background-color: @c_article;
    }
    &--gallery {
      background-color: @c_gallery;
    }
    &--notes {
      background-color: @c_notes;
    }
    &--archives {
      background-color: @c_default;
    }
    &--portfolio {
      background-color: @c_portfolio;
    }
    &--pattern-library {
      background-color: @c_default;
    }
}
