#u_type() {

  .h1() {
    font-size: unit(80/@base,em);
    line-height: 84/80;
    #u_space > .push(1);
  }
  .h2() {
    font-size: unit(35/@base,em);
    line-height: 39/35;
    #u_space > .push(1);
  }
  .p() {
    font-size: unit(21/@base,em);
    line-height: @spacing_vertical/21;
    #u_space > .push(1);
  }
  .p--summary() {
    font-size: unit(23/@base,em);
    line-height: 42/23;
    #u_space > .push(1);
  }
  .p--leade() {

  }
  .p--introduction() {
    #font > .ridley();
    font-weight: bold;
    #u_space > .push(1);
    font-size: unit(35/@base,rem);
    line-height: 43/35;
    #site > .r--alpha({
      font-size: unit(69/@vw_base,vw);
    });
    #site > .r--max({
      font-size: unit(69/@base,rem);
      line-height: 81/69;
    });
  }

  .a(@c:@c_link) {
    color: @c;
    text-decoration: none;
  }
  .a--underline(@c:@c_link) {
    #u_type > .a(@c);
    border-bottom: 1px solid @lightgrey;
    transition: background-color 250ms ease-out;

    .hover(@c) {
      &:hover {
        border: none;
        background-color: fade(@c,15%);
      }
    }
    .hover(@c);

    &[href='/articles'] {
      #u_type > .a(@c_article);
      .hover(@c_article);
    }
    &[href='/gallery'] {
      #u_type > .a(@c_gallery);
      .hover(@c_gallery);
    }
    &[href='/notes'] {
      #u_type > .a(@c_notes);
      .hover(@c_notes);
    }
    &[href='/portfolio'] {
      #u_type > .a(@c_portfolio);
      .hover(@c_portfolio);
    }
  }

  .meta() {
    color: @medgrey;
    display: block;
  }

  //general utilities
  .bold() {
    font-weight: bold;
  }
  .italic() {
    font-style: italic;
  }
  .uppercase() {
    text-transform: uppercase;
  }

  .time() {
    #u_type > .meta();
  }

}

.u_type {
  //headings
  h1 {
    #u_type > .h1();
  }
  h2 {
    #u_type > .h2();
  }

  //paragraphs
  p {
    #u_type > .p();
  }
  .summary {
    #u_type > .p--summary();
  }
  .meta {
    #u_type > .meta();
  }
  .introduction {
    #u_type > .p--introduction();
  }

  time {
    #u_type > .p();
    #u_type > .time();
  }

  //links
  .links(@c:@c_link) {
    a {
      #u_type > .a(@c);
    }
    p>a,li>a {
      #u_type > .a--underline(@c);
    }
  }


  &--articles {
    .links(@c_article);
  }

}
