
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: Kings Bromley's Burning</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">Kings Bromley's Burning</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        Kings Bromley's Burning
      
    </h1>
    <time datetime="2006-07-18T00:00:00.000Z">July 18th 2006</time>
    <div class="m_postarticles__body u_type">
      
        <p>I work in a little village just outside of Lichfield called Kings Bromley. Usually it&#39;s a sleepy little place, the local pub only opens 4 days a week. But yesterday afternoon, I looked up from my desk to see this... </p>
<p>{% include figure.html set=&quot;fire1&quot; class=&quot;pull-both&quot; %}</p>
<p>Within minutes our usually quiet little lane had become packed with cars and people all clammering to get a look at what apparently was a major event for Kings Bromley. By now the fire had spread beyond what you can see in the photo, but I decided that if I didn&#39;t get out now, I may never leave. Not because of the fire (although it was massive, and the noise it made was awesome) but just the shear volume of people. When I (eventually) pulled on to the main road, and made my way back along past the fire there was about 20 cars stopped trying to get a glimpse of what was going on. </p>
<p>By now there were about 6 fire engines, plus some guy with a vat of water on a trailer (I dunno what he thought he could do with that). This morning there was no sign of the festival like atmosphere of last night, just a sad smouldering mess in the top field. Still, I guess the ground will be mega fertile now... </p>
<p>{% include figure.html set=&quot;fire2&quot; class=&quot;pull-both&quot; %}</p>
<p><strong>Update:</strong> As the fire damaged the power-lines, I got the afternoon off!</p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
