{% extends 'layouts/default.html' %}
{% macro ptn() %}
<p>
  {{patterns|dump}}
</p>
{% markdown %}
`this` and *that*
{% endmarkdown %}
  {% for pattern in patterns %}
    <h2>{{pattern.type}}</h2>
    {% for item in pattern.list %}
      {% pattern name=item %}
    {% endfor %}
  {% endfor %}
{% endmacro %}
{% block body %}

    {{
      pattern.c_siteBody([
        pattern.grid([
          pattern.c_block('sidebar',[
            pattern.m_navigation([
              {
                name: "Overview",
                url: "/patterns"
              },
              {
                name: "Modules",
                url: "/patterns/modules"
              }
            ])
          ]),
          pattern.c_block(content,[
            pattern.m_pageTitle(title),
            ptn()
          ])
        ],'1-2')
      ])
    }}
{% endblock %}
