{% extends 'layouts/patterns.html' %}

{% macro ptn() %}
  {% for pattern in patterns -%}
    {% if pattern.type == category %}
      {% for item in pattern.list -%}
        <div class="pattern">
          {% if item.info %}
          <div class="pattern__data js_folddown">
            <h2 class="pattern__title js_folddown--trigger">
              {% if item.info.attributes.title %}
                {{item.info.attributes.title}}
              {% else %}
                {{item.name}}
              {% endif %}
            </h2>
            <div class="pattern__description type js_folddown--target">
              {{item.info.html_body}}
            </div>
          </div>
          {% endif %}
          <div class="pattern__item{% if item.info %} pattern__item--with-info{% endif %}">
            {% pattern name=item.file %}
          </div>
        </div>
      {%- endfor %}
    {% endif %}
  {%- endfor %}
{% endmacro %}

{% block content %}
  <div class="type">
    {% markdown "./patterns/_static_content/introduction_" + category + ".md" %}
    <hr/>
  </div>
  {{ptn()}}
{% endblock %}
