{% extends 'layouts/patterns.html' %}

{% macro ptn() %}
  {% for pattern in patterns -%}
    {% if pattern.type == category %}
      {% for item in pattern.list -%}
        <div class="pattern">
          <div class="pattern__data">
            <h2 class="pattern__title">{{item.name}}</h2>
            <div class="pattern__description type">
              {% markdown './patterns/'+category+'/'+item.folder+'/'+item.name+'.md' %}
            </div>
          </div>
          <div class="pattern__item">
            {% pattern name=item.file %}
          </div>
        </div>
      {%- endfor %}
    {% endif %}
  {%- endfor %}
{% endmacro %}

{% block content %}
  <div class="type">
    {% markdown "./patterns/_static_content/introduction_" + category + ".md" %}
  </div>
  {{ptn()}}
{% endblock %}
