{% extends 'layouts/default.html' %}
{% block body %}
{% macro content() %}
<ol>
  {% for post in posts %}
    <li style="margin-bottom:10px; border-bottom: 1px dotted #ccc; padding-bottom: 10px;" class="">
      <strong>{{post.attributes.title}}</strong> <em>{{post.attributes.type}}</em>, {{post.attributes.date|date}} OK<br/>
      {% if post.prev %}<em>Prev: {{post.prev.title}}, {{post.prev.date|date}}, {{post.prev.type}}, {{post.prev.id}}</em><br/>{% endif %}
      {% if post.next %}<em>Next: {{post.next.title}}, {{post.next.date|date}}, {{post.next.type}}, {{post.next.id}}</em>{% endif %}
    </li>
  {% endfor %}
  </ol>
{% endmacro %}
{{
  pattern.c_siteBody([
    pattern.m_pageTitle(title),
    content()
  ])
}}


{% endblock %}
