{% import "patterns/patterns.html" as pattern %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ site.title }}: {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
    {{
      pattern.c_siteHeader(content=[
        pattern.m_navigation(items=[
          {
              'name':'Home',
              'url':'/'
          },
          {
              'name':'Diary',
              'url':'/diary'
          }
        ])
      ])
    }}
    {% block body %}
    {% endblock %}
</body>
</html>
