{% extends './default.html' %}

{% set navigationItems %}
  [{"name":"Overview","url":"/patterns"},
  {% for pattern in patterns %}
    {"name": "{{pattern.type}}", "url": "/patterns/{{pattern.type}}"}{% if not loop.last %},{% endif %}
  {% endfor %}]
{% endset %}

{% block body %}
  <div class="grid grid--1-3">
    <div class="grid__column">
      {{pattern.m_navigation(items=navigationItems|jsonParse,modifier='sub-stacked',classes='u_space__push',active=subActive)}}
    </div>
    <div class="grid__column">
      {{pattern.m_pageTitle(title)}}
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
