{% extends './default.html' %}

{% set navigationItems %}
  [{"name":"Overview","url":"/patterns"},
  {% for pattern in patterns %}
    {"name": "{{pattern.type}}", "url": "/patterns/{{pattern.type}}"}{% if not loop.last %},{% endif %}
  {% endfor %}]
{% endset %}

{% block body %}

<div class="grid grid--prose">
  <div class="grid__column">
    {{pattern.m_pageTitle(title|capitalize,modifier='aligned')}}
    {{pattern.m_navigation(items=navigationItems|jsonParse,modifier='sub-stacked',classes='u_space--hangoff',active=subActive)}}
    {% block content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
