
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: Old hobbies die hard</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">Old hobbies die hard</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        Old hobbies die hard
      
    </h1>
    <time datetime="2015-09-05T00:00:00.000Z">September 5th 2015</time>
    <div class="m_postarticles__body u_type">
      
        <p>As I kid I loved to draw cartoons. </p>
<p>Later, when I went off to University, I briefly toyed with the idea of jacking-in my degree to pursue a career as a bohemian cartoon artist. Looking back now I&#39;m glad I didn&#39;t; I really wasn&#39;t any good. I&#39;d have probably ended up in a gutter in Paris somewhere...</p>
<p>{% include figure.html set=&quot;cover&quot; class=&quot;pull-both&quot; %}</p>
<p>At some unknown point after this I stopped cartooning. I&#39;m not sure why, but for some reason I stopped doing something I loved. Recently though, I&#39;ve had rekindling of passion for drawing. Sure, I&#39;ve forgotten a lot of the technical skills, like any unpracticed activity I&#39;ve become rusty. But now, unlike before, I can appreciate it as just a hobby. I don&#39;t really have to be any good if I enjoy it.</p>
<p>{% include gallery.html set=&quot;rabbits&quot; %} </p>
<p>Last time I visited my parents house I searched high and low for my old portfolio. No such luck, that thing is long gone. This time I&#39;m determined to keep my drawings, maybe my kids would one day like to see the stupid drawing of rabbits their old man used to do in the more heady days of his &#39;youth&#39;... </p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
