#font() {
  .aleo() {
    font-family: "Aleo", serif;
  }
  .clear-sans() {
    font-family: "Clear Sans", sans-serif;;
  }
}

body {
  #font > .aleo();
}
h1,h2,h3,h4 {
  #font > .clear-sans();
  font-weight: 200;
}
