#font() {
  .merriweather() {
    font-family: "merriweather", serif;
  }
  .ridley() {
    font-family: 'Ridley Grotesk', sans-serif;
  }
  .dropcap() {
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
  }
}

body {
  #font > .merriweather();
  background-color: @c_bg;
  font-size: 76%;
  color: @darkgrey;
  #site .r--alpha({font-size: 88%;});
  #site .r--max({font-size: 100%;})
}
h1,h2,h3,h4 {
  #font > .ridley();
  font-style: normal;
  font-weight: bold;
}

a {
  color: @blue;
  text-decoration: none;
}

//pattern examples
.pattern {
  margin-bottom: unit(@spacing_vertical/@base,rem);
  &:after {
    font-size: unit(40/@base,rem);
    color: @grey;
    content: "\0000B7\0000a0\0000B7\0000a0\0000B7";
    text-align: center;
    display: block;
    padding-top: unit(@spacing_vertical/@base,rem);
  }
  &__data {
    font-size: 80%;
    border: 1px dotted @grey;
  }
  &__description {
    padding: unit(@spacing_vertical/@base,rem) unit(@spacing_horizontal/@base,rem);
    background-color: white;
  }
  &__title {
    padding: unit(@spacing_vertical/2/@base,rem) unit(@spacing_horizontal/@base,rem);
    font-size: unit(34/@base,em);
    line-height: 39/34;
    border-bottom: 1px dotted @grey;
    background-color: #F1F1F1;
  }
  &__item {
    .clearfix();
  }
  &__item--with-info {
    padding: unit(@spacing_vertical/@base,rem) unit(@spacing_horizontal/@base,rem);
    border: 1px dotted @grey;
    border-top: none;
  }
}

//example styles

.eg_contain {
  display: flex;
  justify-content: center;
}

.eg {
  background-color: fade(@blue,10%);
  >.eg {
    background-color: fade(@blue,15%);
  }
  //color: @blue;
  text-shadow: 0 1px 0 white;
  box-sizing: border-box;
  padding: 10px;
  .clearfix();
  p:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

/* js folddowns */
.js_folddown--show-code-message {
  text-align: right;
  color: @grey;
  float: right;
}
.js_foldown--is-active {
  cursor: pointer;
}
.js_foldown--is-active {
  &:hover, &:active, &:focus {
    .js_folddown--show-code-message {
      color: @c_default;
    }
  }
}
