.wrapper() {
  padding-left: unit(@spacing_horizontal/@base,rem);
  padding-left: unit(@spacing_horizontal/@base,rem);

  @media screen and (min-width:(unit(@layout_wide/@base,rem))) {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: unit(@layout_wide/@base,rem);
  }

}
.clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}
