.clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

#site() {
  .spacing() {
    margin-top: unit(@spacing_horizontal/@base,rem);
    #site > .r--max({
      margin-top: unit(@spacing_horizontal*2/@base,rem);
    });
  }
  .r--alpha(@r) {
    @media screen and (min-width: (unit(@layout_alpha/@base,rem))) {
      @r();
    }
  }
  .r--beta(@r) {
    @media screen and (min-width: (unit(@layout_beta/@base,rem))) {
      @r();
    }
  }
  .r--max(@r) {
    @media screen and (min-width: (unit(@layout_max/@base,rem))) {
      @r();
    }
  }
}

#effect() {
  .text-shadow-3d(@distance,@c) {
    #effect > .text-shadow-3d----loop(@distance,@c);
  }
  .text-shadow-3d----loop(@i,@c) when (@i >= 0) {
    text-shadow+: unit(@i,px) unit(@i,px) @c;
    #effect > .text-shadow-3d----loop(@i - 1,@c);
  }

}
