.m_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: unit(@spacing_vertical/@base,rem);

  &__link {
    height: 100%;
    display: block;
  }

  &__image {
    display: block;
    width: 100%;
    outline: 1px solid @c_bg;
  }

  &__link:only-of-type &__image {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  &__captions {
    display: block;
    flex-basis: 100%;
    box-sizing: border-box;
    font-style: italic;
    #type > .default();
    #type > .x-small();
    #type > .meta();
    #u_space > .pull-back();
    #site > .r--alpha({
      margin-top: unit(@spacing_vertical/2/@base,rem);
    });
  }

}
