
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: An Inappropriate Gift</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">An Inappropriate Gift</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        An Inappropriate Gift
      
    </h1>
    <time datetime="2007-11-06T00:00:00.000Z">November 6th 2007</time>
    <div class="m_postarticles__body u_type">
      
        <p>Recently my good friend&#39;s Paul and Esta popped their first sprog (well, Esta did most of the work I&#39;m told) - And in traditional fashion I brought them a gift to celebrate. </p>
<p>{% include figure.html class=&quot;pull-both&quot; set=&quot;baby&quot; %}</p>
<p>It&#39;s called &#39;Smoking Baby&#39; and I&#39;m sure if you want you can get one from somewhere on the net, but I got mine in Brighton. As you may imagine, I was chuffed to bits to <a href="http://flickr.com/photos/roobottom/1798830018/">meet little Amelie</a> - she&#39;s gorgeous and despite myself I think I actually said &quot;Awwww&quot;. I quickly had to talk about football to regain some equilibrium (not that I like football - it was just the first manly thing that came to mind). </p>
<p>{% include figure.html class=&quot;pull-both&quot; set=&quot;Amelie&quot; %}</p>
<p>But seriously, she is amazing - even if she is making Katie broodier than ever. I was not so pleased to be asked to take back my gift though! I mean, come on, what self-respecting parent wouldn&#39;t want Baby smokes-a-lot around to teach their kid at an early age that smoking is not only sociably acceptable, but also makes you look cool. I&#39;m surprised this little guy hasn&#39;t got a pair of gnarly shades or far out tattered jeans - Just look how cool he looks puffing away on that big tab. </p>
<p>Well done proud parents - I bet you can&#39;t wait to see what I get her for Christmas!</p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
