
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: Lake Garda, Italy</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">Lake Garda, Italy</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        Lake Garda, Italy
      
    </h1>
    <time datetime="2007-10-16T00:00:00.000Z">October 16th 2007</time>
    <div class="m_postarticles__body u_type">
      
        <p>The weather was warm, the food was amazing and the wine was cheep. After 7 nights in Italy drifting around Lake Garda, being awed (and a little romantic) in Verona and getting (very) lost in Venice the reality of being back to work has hit like a tonne of bricks. </p>
<p>{% include figure.html set=&quot;lake&quot; class=&quot;pull-both&quot; %}</p>
<p>But I prefer to think of the amazing time we had. As we landed at the tiny Besica airport we realised that the turbulence we had just endured was in fact heavy rain that drenched us as we ran from the plane to the cover of the arrivals lounge. From there we found ourselves sitting in the hire car, rain pounding on the windscreen, trying to get used to the uneasy feeling of sitting in the passenger side with a steering wheel in front of me. By the time we reached <a href="http://www.mistralhotels.it/admiral.htm">our hotel</a> we&#39;d driven on three motorways and had a tiny disagreement with a barrier. </p>
<p>Thankfully the wing-mirror was unharmed and the rain had stopped to reveal blue sky. Things got even better when we got into our room - it was clean, big and had a balcony from which you could see the lake (sort of) through the trees. We spent the week exploring Lake Garda&#39;s small towns and excellent restaurants, and venturing out to Verona and eventually Venice after planning to go on Wednesday and finally getting there on Friday - Due to a couple of days missing the train. Whoops! </p>
<p>{% include figure.html set=&quot;lake2&quot; class=&quot;pull-both&quot; %}</p>
<p>My favourite place by far was Sirmione which was at the end of an tiny outcrop of land that juts into the south end of the lake. We spent an evening at the naturally heated <a href="http://www.termedisirmione.it/tds/en/homepage.html">spa</a> followed by dinner at <a href="http://www.ristorantearcimboldo.com/">L&#39;Archimboldo</a> run by a really friendly guy who&#39;s English was better than ours. If you&#39;re going to Lake Garda Sirmione is a must. </p>
<p>{% include figure.html set=&quot;gondola&quot; class=&quot;pull-both&quot; %} </p>
<p>Venice was amazing. Stepping out of the station, you&#39;re immediately greeted with throngs of people walking up and down the banks of the Grand Canal. Wow! We took a water taxi up to St. Marks Square and stopped for lunch and some shelter from the hot-hot sun before we ventured into St Mark&#39;s Basilica and mooched around the Square, avoiding the millions of pigeons that randomly landed on anyone they fancied, whether they had food or not. </p>
<p>We then set off around the labyrinth-like city on foot, exploring the seemingly unending passageways and tiny bridges. Needless to say we got horribly lost, and only just made our train back to the hotel. But I loved Venice, a day was just not enough. In usual style, I took nearly 700 photos - and you can <a href="http://www.flickr.com/photos/roobottom/sets/72157602449502521/">see some of them over at flickr</a>. </p>
<p>Oh well, back to reality I suppose.</p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
