#m_patternBlock() {
  .default() {
    font-size: unit(17/@base,em);
    line-height: @spacing_vertical/17;
  }
  .spacing() {
    margin-bottom: unit(@spacing_vertical/@base,rem);
  }
  .code() {
    font-family: 'Menlo', monospace;
  }
}

.m_patternBlock {

  @yellow: #C58E13;
  margin-bottom: unit(@spacing_vertical/@base,rem);
  background-color: lighten(@yellow, 55%);
  border: 1px solid lighten(@yellow, 30%);
  border-left-width: 5px;
  color: @yellow;
  max-width: unit(720/@base,rem);
  #site .r--max({
    margin-left: unit(-36/@base,rem);
  });

  &__description {
    padding: unit(@spacing_vertical/2/@base,rem) unit(@spacing_horizontal/2/@base,rem);

    p, li {
      #m_patternBlock > .default();
      > code {
        #m_patternBlock > .code();
        padding: 0.3em;
        border: 1px solid lighten(@yellow,30%);
        border-radius: 5px;
        font-size: 90%;
      }
    }

    p, >ul, >ol {
      #m_patternBlock > .spacing();
    }

    >*:last-child {
      margin-bottom: 0;
    }
  }

  &__code {
    padding: unit(@spacing_vertical/2/@base,rem) unit(@spacing_horizontal/2/@base,rem);
    border-top: 1px dotted lighten(@yellow, 30%);
    background-color: lighten(@yellow, 50%);
    #m_patternBlock > .default();
    #m_patternBlock > .code();
  }

}
