
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: Rabbit Towers</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">Rabbit Towers</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        Rabbit Towers
      
    </h1>
    <time datetime="2014-08-04T00:00:00.000Z">August 4th 2014</time>
    <div class="m_postarticles__body u_type">
      
        <p>It must be something many newly married couples do; Put off the children in favour of a pet. As it was with us, 3 years ago, when we arrived home with a cardboard box containing two small, very frightened rabbits.</p>
<p>They soon settled in and set about crapping in every corner and chewing all the wires, including clean though the power cable for my brand new Apple laptop. I think they lasted a whole week as house rabbits before we moved them outside to more suitable accommodation.</p>
<p>{% include gallery.html class=&quot;pull-both&quot; set=&quot;rabs&quot; %}</p>
<p>As they got older, they grew to hate each other. This was funny at first, watching them hump each-other in a bid for dominance, but pretty soon this turned into some really nasty fights. The lack of rabbit psychologists in the local area meant there was nothing else for it but separate hutches and a time-share of the family run.</p>
<p>It&#39;s now evident that they&#39;ve been the perfect focus for my hobby of &quot;building shit in the garden&quot;, as Katie puts it. There is a singular pleasure in picturing something in your head, then knocking a few nails through a few bits of wood and seeing it all 3D like in real-reality.</p>
<p>Today, they&#39;ve upscaled to a bunny des rez in the shed.  These are large hutches, one stacked on the other. They each have connecting tunnels to the outside, the bottom one leading, via a section of tube, to a run in the garden. The top to a ramp-box which allows a rab to descend into another run.</p>
<p>{% include gallery.html class=&quot;pull-both&quot; set=&quot;building&quot; %}</p>
<p>Of course they still get a bounce around the garden when we&#39;re around to watch them, but it&#39;s nice knowing they have access to some outside space and a few toys while we&#39;re out at work. </p>
<p>With the summer coming up I had the idea to fit a warm-air extraction system in the shed — powered by a 12V battery, charged by a solar panel — but we&#39;ll wait and see about that one...</p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
