{% import "./c_block.pattern" as pattern %}

{{
  pattern.c_block([
  '<div class="eg"><p>Example Pattern</p></div>',
  '<div class="eg"><p>Example Pattern</p></div>',
  '<div class="eg"><p>Example Pattern</p></div>'
  ])
}}
