
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jon Roobottom: What I talk about when I talk about beards</title>
    <link rel="stylesheet" type="text/css" href="/css/roobottom-com.css">
</head>
<body>
  
  
  <div class="grid grid--1-2">
  
    <div class="grid__column">
      
  <header class="c_siteHeader">
    
    
  <a href="/" class="m_logo" aria-label="Website logo">
    
  <svg class="icon icon--logo" aria-hidden="true">
    <use xlink:href="/icons.svg#logo"/>
  </svg>

  </a>

    
    
<nav class="m_navigation m_navigation--stacked">
    <ul class="m_navigation__items">
        
        <li class="m_navigation__item">
          <a href="/" class="m_navigation__link m_navigation__link--homepage">Homepage</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/articles" class="m_navigation__link m_navigation__link--articles-active">Articles</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/gallery" class="m_navigation__link m_navigation__link--gallery">Gallery</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/notes" class="m_navigation__link m_navigation__link--notes">Notes</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/archives" class="m_navigation__link m_navigation__link--archives">Archives</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/portfolio" class="m_navigation__link m_navigation__link--portfolio">Portfolio</a>
        </li>
        
        <li class="m_navigation__item">
          <a href="/patterns" class="m_navigation__link m_navigation__link--pattern-library">Pattern library</a>
        </li>
        
    </ul>
</nav>

    
  </header>

    </div>
  
    <div class="grid__column">
      
  <main class="c_siteBody">
    
        
  

  <main class="c_siteBody">
    
        
<h1 class="m_pageTitle">What I talk about when I talk about beards</h1>

    
        
  <article class="m_postarticles">
    <h1>
      
        What I talk about when I talk about beards
      
    </h1>
    <time datetime="2015-03-21T00:00:00.000Z">March 21st 2015</time>
    <div class="m_postarticles__body u_type">
      
        <p><em>Twiddle, twiddle, scratch, scratch, scratch</em>. Such has been my life over the past month. That ends this evening; the beard is gone.</p>
<p>To share this tale of beard butchery, let me first set the scene: It’s 2015 and in the towns and villages of England the common hipster is alive and well. You’ll see him wherever you go, seeking to fit in with as little of what’s popular as possible. </p>
<p>One thing this sub-non-culture of  has brought about is the resurgence of the beard. Please, hold the letters explaining how beards were popular long before the hipsters moved in; I know this, but as they’re so common place, down our way, I believe this was the thing that got me thinking about face-rugs. This, and a chap called Marc at work had grown the most impressive beard I’d ever seen on a real-life human man. It was like a Norse god had taken up residence in our office. </p>
<p>It was, at the start of March, I had the thought of letting my face hair grow, unimpinged for as long as I could stand it. </p>
<p>After a couple of weeks it was clear that this wasn&#39;t going to be as easy as I’d first thought. Far from the majestic swept back locks that adorn the faces of Hittite statues, mine was more akin to the bush that lines the driveway at the end of our road.</p>
<p>It was at this point I decided I needed some help. Having heard Marc talking about oiling his beard, I thought “Oh, I should <em>totally</em> do that!”. I, like, <em>totally</em> did too, using some of Katie’s pregnancy belly oil. It was the worst. By the end of the day my face smelled like a dead badger that&#39;d been out in the sun for several days. Google to the rescue, and I found <a href="http://www.percynobleman.com/product/beard-oil/">Percy’s beard oil</a>. Yes, it&#39;s probably as hipster as hipster can be, but it’s also a brilliant product. </p>
<p>Beard oil in hand I ploughed on, and was rewarded, even if I do say so myself, with half decent face hair. <em>Emphasis on the “half”</em>.</p>
<p>{% include figure.html class=&quot;pull-both&quot; set=&quot;beard&quot; %}</p>
<p>So, why the change of heart? Why is the beard no more? Well, to be honest, it was all too much like hard work. Oh sure, I was a prince amongst men, but it all got a little too much. I couldn’t stop playing with it for one, not great if you want a great beard. Also, food would occasionally get stuck in there, and that’s a look that’s not that easy to carry off. The writing was on the wall for el beardo.</p>
<p>Of course, I performed the obligatory shaving-off-into-stupid-styles ceremony, many of which, upon seeing my face, Katie threatened divorce. </p>
<p>{% include gallery.html class=&quot;pull-both&quot; set=&quot;shave&quot; %}</p>
<p>If this month has taught me anything, it’s that a good beard is no easy thing. It takes work. It takes the ability to leave it the hell alone. But, most of all, it takes a will of iron to push though the itchy stage. </p>

      
    </div>
  </article>

    
  </main>


  
    
  </main>

    </div>
  
  </div>


</body>
</html>
