.grid {

  &__column {
    flex: 1;
    margin: 0 unit(@spacing_horizontal/2/@base,rem);
  }

  #site > .r--beta({
    display: flex;
  });

  //modifers
  &--2-1 &__column:nth-of-type(2n-1) {
    flex: 2;
  }
  &--1-2 &__column:nth-of-type(2n) {
    flex: 2;
  }

  &--prose {
    justify-content: center;
  }
  &--prose &__column {
    #site > .r--beta({
      width: 75%;
      flex:initial;
    });
  }

}
