.grid {

  &__column {
    flex: 1;
    margin-bottom: unit(@spacing_vertical/@base,rem);

    &:nth-of-type(2n) {
      #site > .r--beta({
        margin-left: unit(@spacing_horizontal/@base,rem);
      });
    }
  }

  #site > .r--beta({
    display: flex;
  });

  //modifers
  &--2-1 > &__column:nth-of-type(2n-1) {
    flex: 2;
  }
  &--1-2 > &__column:nth-of-type(2n) {
    flex: 2;
  }

  &--prose {
    justify-content: center;
  }
  &--prose &__column {
    #site > .r--beta({
      width: 62%;
      flex: initial;
    });
  }

  &--bricks {
    justify-content: space-between;
    .grid__column {
      margin-bottom: 5%;
    }

    #site .r--beta({
      flex-wrap: wrap;
      .grid__column {
        flex: 0 1 47.5%;
        margin-left: 0;
      }
    });

    #site .r--max({
      .grid__column {
        flex: 0 1 30%;

        &:nth-of-type(10n-9),
        &:nth-of-type(10n-3) {
          flex: 0 1 65%;
        }
        &:nth-of-type(10n-4),
        &:nth-of-type(10n-2) {
          margin-left: 0;
        }
      }
    });

  }

}
