{% macro grid(columns,type) %}
  <div class="grid grid--{{type}}">
  {% for column in columns %}
    <div class="grid__column">
      {{ column }}
    </div>
  {% endfor %}
  </div>
{% endmacro %}

{% macro c_siteBody(content) %}
    <main class="c_siteBody">
        <div class="c_siteBody__content">
            {% for item in content %}
                {{ item }}
            {% endfor %}
        </div>
    </main>
{% endmacro %}

{% macro c_siteHeader(content) %}
    <header class="c_siteHeader">
        <div class="c_siteHeader__content">
            {% for item in content %}
                {{ item }}
            {% endfor %}
        </div>
    </header>
{% endmacro %}
{% macro m_gallery(images) %}
    <figure>
        {% for i in images %}
            <img src="{{ i.image }}"/>
            {% if i.caption %}
            <figcaption>{{ i.caption }}</figcaption>
            {% endif %}
        {% endfor %}
    </figure>
{% endmacro %}
{% macro m_navigation(items) %}
<nav class="m_navigation">
    <ul class="m_navigation__items">
        {% for item in items %}
        <li class="m_navigation__item"><a href="{{item.url}}" class="m_navigation__link{%if item.current %} m_navigation__link--is-current {% endif %}">{{item.name}}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}
{% macro m_pageTitle(title) %}
<h1 class="m_pageTitle">{{title}}</h1>
{% endmacro %}

{% macro m_postDiary(post,heading,link) %}
  <article class="m_postDiary">
    <{{heading}}>
      {% if link %}
        <a href="/diary/{{post.attributes.id}}">{{post.attributes.title}}</a>
      {% else %}
        {{post.attributes.title}}
      {% endif %}
    </{{heading}}>
    <time datetime="{{post.attributes.date}}">{{post.attributes.date | date}}</time>
    <div class="m_postDiary__body">
      {{post.html_body | safe | truncate(200) }}
    </div>
  </article>
{% endmacro %}

{% macro m_postGallery(post) %}
  <article class="m_postGallery">
    <h2>{{ post.attributes.title }}</h2>
    <time datetime="{{post.attributes.date}}">{{post.attributes.date | date}}</time>
    <div class="m_postGallery__gallery">
      {{ m_gallery(post.attributes.images) }}
    </div>
    <div class="m_postGallery__body">
      {{post.html_body}}
    </div>
  </article>
{% endmacro %}

{% macro m_postNote(post) %}
  <article class="m_postNote">
    <h2>{{ post.attributes.title }}</h2>
    <time datetime="{{post.attributes.date}}">{{post.attributes.date | date}}</time>
    {% if post.attributes.images %}
      <div class="m_postNote__gallery">
        {{ m_gallery(post.attributes.images) }}
      </div>
    {% endif %}
    <div class="m_postNote__body">
      {{post.html_body}}
    </div>
  </article>
{% endmacro %}

{% macro m_posts (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts|limitTo(limit) %}
    {% if post.attributes.type == 'diary' %}
      {{ m_postDiary (post,heading,link) }}
    {% endif %}
    {% if post.attributes.type == 'gallery' %}
      {{ m_postGallery (post) }}
    {% endif %}
    {% if post.attributes.type == 'notes' %}
      {{ m_postNote(post) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro m_posts_diary (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts | filterByType('diary') | limitTo(limit) %}
      {{ m_postDiary (post,heading,link) }}
  {% endfor %}
{% endmacro %}

{% macro m_posts_notes (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts | filterByType('notes') | limitTo(limit) %}
      {{ m_postNote (post,heading,link) }}
  {% endfor %}
{% endmacro %}

{% macro m_posts_gallery (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts | filterByType('gallery') | limitTo(limit) %}
      {{ m_postGallery (post,heading,link) }}
  {% endfor %}
{% endmacro %}
