{% macro grid(columns,modifier,classes) %}
  <div class="grid{% if modifier %} grid--{{modifier}}{% endif %}{% if classes %} {{classes}}{% endif %}">
  {% for column in columns %}
    <div class="grid__column">
      {{ column }}
    </div>
  {% endfor %}
  </div>
{% endmacro %}

{% macro icon(name) %}
  <svg class="icon icon--{{name}}" aria-hidden="true">
    <use xlink:href="/icons.svg#{{name}}"/>
  </svg>
{% endmacro %}

{% macro c_block(items,pattern) %}
  {% if pattern %}
    {% for item in items %}
      {{ pattern(item) }}
    {% endfor %}
  {% else %}
    {% for item in items %}
      {{ item }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro c_siteHeader(items,active) %}
  <header class="c_siteHeader {% if active %}c_siteHeader--{{active}}{% endif %}">
    {% for item in items %}
    {{item}}
    {% endfor %}
  </header>
{% endmacro %}

{% macro c_siteBody(content) %}
  <main class="c_siteBody">
    {% for item in content %}
        {{ item }}
    {% endfor %}
  </main>
{% endmacro %}

{% macro m_cacheItem(post) %}
  <div class="m_cacheItem m_cacheItem--{{post.attributes.type}}">
    <h3>{{post.attributes.title}}</h3>
    <p><em>{{post.attributes.type}}</em>, <time datetime="{{post.attributes.date}}">{{post.attributes.date|date}}</time></p>
    {% if post.prev %}<p>
      <em>Prev: {{post.prev.title}}, {{post.prev.date|date}}, {{post.prev.type}}, {{post.prev.id}}</em>
    </p>{% endif %}
    {% if post.next %}<p>
      <em>Next: {{post.next.title}}, {{post.next.date|date}}, {{post.next.type}}, {{post.next.id}}</em>
    </p>{% endif %}
  </div>
{% endmacro %}

{% macro m_gallery(images,type) %}
    <div class="m_gallery">
        {% for i in images %}
          <div class="m_gallery__image">
            <img src="http://images.roobottom.com/r/600/auto/{{type}}/{{ i.image }}"/>
            {% if i.caption %}
            <figcaption>{{ i.caption }}</figcaption>
            {% endif %}
          </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro m_introduction(markdownFile) %}
  <div class="m_introduction">
    {% markdown markdownFile %}
  </div>
{% endmacro %}

{% macro m_libraryBlock(text) %}
  <div class="m_libraryBlock">{{text}}</div>
{% endmacro %}

{% import "./icons/icon.pattern" as icon %}
{% macro m_logo() %}
  <a href="/" class="m_logo" aria-label="Website logo">
    {{icon.icon('logo')}}
  </a>
{% endmacro %}

{% import "./icons/icon.pattern" as icon %}
{% macro m_navigation(items, active, modifier) %}
<nav class="m_navigation{%if modifier %} m_navigation--{{modifier}}{% endif %}">
    <ul class="m_navigation__items">
        {% for item in items -%}
        <li class="m_navigation__item">
          <a href="{{item.url}}" class="m_navigation__link m_navigation__link--{{item.name|lower|replace(' ','-')}}{% if item.name|lower|replace(' ','-') == active %} m_navigation__link--is-active{% endif %}">
            {% if item.url == '/' -%}
              {{icon.icon('logo')}}
            {% else %}
              {{item.name|capitalize}}</a>
            {%- endif %}
          </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{% endmacro %}

{% macro m_pageTitle(title) %}
<h1 class="m_pageTitle">{{title}}</h1>
{% endmacro %}

{% macro m_postarticles(post,heading,link=true,trimPost=false) %}
  <article class="m_postarticles">
    <{{heading}}>
      {% if link %}
        <a href="/articles/{{post.attributes.id}}">{{post.attributes.title}}</a>
      {% else %}
        {{post.attributes.title}}
      {% endif %}
    </{{heading}}>
    <time datetime="{{post.attributes.date}}">{{post.attributes.date | date}}</time>
    <div class="m_postarticles__body u_type">
      {% if trimPost %}
        {{post.html_body | safe | truncate(200) }}
      {% else %}
        {{post.html_body | safe }}
      {% endif %}
    </div>
  </article>
{% endmacro %}

{% macro m_postGallery(post,site) %}
  <article class="m_postGallery">
    <h2>{{ post.attributes.title }} {{site}}</h2>
    <time datetime="{{post.attributes.date}}">{{post.attributes.date | date}}</time>
    {{ m_gallery(post.attributes.images,'gallery') }}
    <div class="m_postGallery__body u_type">
      {{post.html_body}}
    </div>
  </article>
{% endmacro %}

{% macro m_postNote(post) %}
  <article class="m_postNote">
    <h2>{{ post.attributes.title }}</h2>
    <time datetime="{{post.attributes.date}}">{{post.attributes.date | date}}</time>
    {% if post.attributes.images %}
      <div class="m_postNote__gallery">
        {{ m_gallery(post.attributes.images) }}
      </div>
    {% endif %}
    <div class="m_postNote__body u_type">
      {{post.html_body}}
    </div>
  </article>
{% endmacro %}

{% macro m_posts (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts|limitTo(limit) %}
    {% if post.attributes.type == 'articles' %}
      {{ m_postarticles (post,heading,link) }}
    {% endif %}
    {% if post.attributes.type == 'gallery' %}
      {{ m_postGallery (post) }}
    {% endif %}
    {% if post.attributes.type == 'notes' %}
      {{ m_postNote(post) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro m_postarticlesSummary (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts | filterByType('articles') | limitTo(limit) %}
      {{ m_postarticles (post,heading,link,true) }}
  {% endfor %}
{% endmacro %}

{% macro m_postNotesSummary (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts | filterByType('notes') | limitTo(limit) %}
      {{ m_postNote (post,heading,link) }}
  {% endfor %}
{% endmacro %}

{% macro m_postGallerySummary (posts,heading="h2",link=true,limit=10) %}
  {% for post in posts | filterByType('gallery') | limitTo(limit) %}
      {{ m_postGallery (post,heading,link) }}
  {% endfor %}
{% endmacro %}

{% macro m_teaser(type,title,url,summaryText,date,wordCount,imageCount,image,hLevel='2') %}
  <article class="m_teaser m_teaser--{{type}}{% if not image %}-no-image{% endif %}">
    {% if image %}
    <img src="{{image}}" alt="{{title}}"/>
    {% endif %}
    <span class="m_teaser__type">{{type}}</span>
    <h{{hLevel}} class="m_teaser__title"><a href="{{url}}" class="m_teaser__link">{{title}}</a></h{{hLevel}}>
    <p class="m_teaser__meta">
      <time class="m_teaser__date" datetime="{{date}}">{{date|date}}</time>
      {% if wordCount %}<span class="m_teaser__word-count"> / {{wordCount}} word{%if wordCount > 1%}s{%endif%}</span>{%endif%}
      {% if imageCount %}<span class="m_teaser__image-count"> / {{imageCount}} image{%if imageCount > 1%}s{%endif%}</span>{%endif%}
    </p>
    <p class="m_teaser__summary">
      {{summaryText}}
    </p>
  </article>
{% endmacro %}
