{% import "./m_navigation.pattern" as pattern %}
{% markdown %}
### m_navigation
`n_navigation` 
{% endmarkdown %}
{{
  pattern.m_navigation(items=[
    {
      name: 'Home',
      url: '#'
    }
  ])
}}
