{% import "./m_navigation.pattern" as pattern %}
{% markdown %}
### m_navigation
standard
{% endmarkdown %}
{{
  pattern.m_navigation(items=[
    {
      name: 'Home',
      url: '#'
    }
  ])
}}

{% markdown %}
### m_navigation
with sub navigation
{% endmarkdown %}
{{
  pattern.m_navigation(items=[
    {
      name: 'Overview',
      url: '#'
    },
    {
      name: 'Modules',
      url: '',
      items: [
        {
          name: 'sub module a',
          url: '#'
        },
        {
          name: 'sub module b',
          url: '#'
        }
      ]
    }
  ])
}}
